<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2>会員詳細</h2>
  </div>
</div>
<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>プロフィールアイコン</h5>
  </div>
  <div class="col-3">
    <% if @end_user.image.blank? %>
    　<%= image_tag '/images/default.png' %>
    <%else%>
      <%= attachment_image_tag @end_user, :image, size: "300x200", format: 'jpeg' %>
    <% end %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>ニックネーム</h5>
  </div>
  <div class="col-3">
    <%= @end_user.name %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>自己紹介</h5>
  </div>
  <div class="col-3">
    <%= @end_user.introduction %>
  </div>
</div>

<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>メールアドレス</h5>
  </div>
  <div class="col-3">
    <%= @end_user.email %>
  </div>
</div>
<div class="row mt-5">
  <div class="col-2 offset-3">
    <h5>会員ステータス</h5>
  </div>
  <div class="col-3">
    <% if @end_user.is_deleted == false then %>
      <h6 class="my-auto text-success">有効</h6>
    <%else%>
      <h6 class="my-auto text-dark-50">無効</h6>
    <%end%>
   </div>
</div>

<div class="row mt-5 pb-5">
  <div class="col-2 offset-3">
    <h5>マイページ編集</h5>
  </div>
  <div class="col-3">
    <%= link_to edit_admins_end_user_path(@end_user) do %>
      <button type="button" class="btn btn-secondary btn-block">会員編集</button>
    <%end%>
  </div>
</div>