<% if @group.errors.any? %>
  <%= @group.errors.count %>件のエラーが発生しました
  <% @group.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2>グループ作成</h2>
  </div>
  <div class="col-auto  mt-5">
    <h5 class="text-red">グループ公開を公開するにチェックをすると<br>誰でも自由にグループに参加できるようになります。</h5>
  </div>
</div>
<%= form_with model: @group, url: groups_path(@group), method: :POST, local:true do |f| %>

  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>グループアイコン</h5>
    </div>
    <div class="col-3">
      <%= f.attachment_field :image %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>グループ名</h5>
    </div>
    <div class="col-3">
      <%= f.text_field :name,class: 'form-control',autofocus: true %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>グループ紹介</h5>
    </div>
    <div class="col-3">
      <%= f.text_field :introduction,class: 'form-control',autofocus: true %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-2 offset-3">
      <h5>グループ公開</h5>
    </div>
    <div class="col-3">
      <div class="row">
        <div class="col-auto">
          <%= f.radio_button :is_open, true %>
          <%= f.label :is_open, "公開する" %>
        </div>
        <div class="col-auto">
          <%= f.radio_button :is_open, false %>
          <%= f.label :is_open, "公開しない" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row marginbottom">
    <div class="col-2 mx-auto mt-5">
      <%= f.submit "グループ作成", class: 'btn btn-primary btn-block' %>
    </div>
  </div>
<%end%>