<div class="row">
  <div class="col-auto offset-2 mt-5">
    <h2><%= @group.name %></h2>
  </div>
</div>



<div class= "row mt-5">
  <!--<div class="col-2">-->

  <!--</div>-->


  <div class="col-8 offset-1">
    <h3>マップ</h3>
    <input id="address" type="textbox" value="GeekSalon">
    <input type="button" value="場所を検索" onclick="codeAddress()">
    <div id="display">何かが表示される、、、、！</div>
    <div class="map">
      <div id="map">
      </div>
    </div>
  </div>

  <div class="col-3 mt-5">
    <div class="row pl-5">
      <h3>
        現在地登録フォーム
      </h3>
    </div>
    <div class="row mt-5">
      <div class="col-auto">
        <h4>
          地点名
        </h4>
      </div>
    </div>
    <%= form_with model: @place, url: places_path, method: :POST, local:true do |f| %>
      <div class="row">
        <div class="col-11">
          <%=f.text_field :place_name, class: "form-control",autofocus: true %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto">
          <h4>
            地点説明
          </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-11">
          <%=f.text_area :introduction, class: "form-control",autofocus: true %>
        </div>
      </div>
      <%= f.hidden_field :group_id, value: @group.id %>
      <%= f.hidden_field :end_user_id, value: current_end_user.id %>
      <%= f.hidden_field :latitude, id: "latitude" %>
      <%= f.hidden_field :longitude, id: "longitude" %>
      <%= f.hidden_field :address, value: "二戸" %>
      <%= f.submit '現在地を登録する', class: 'btn btn-primary' %>
    <%end%>
  </div>
</div>


<div type="text/javascript">
  <script>
    let map
    let geocoder
    // 下の1行を追加
    const display = document.getElementById('display')

    function initMap(){
       geocoder = new google.maps.Geocoder()
       map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 40.271104, lng: 141.305063},
        zoom: 12,
      });

      // marker = new google.maps.Marker({
      //   position:  {lat: lat, lng: lng},
      //   map: map
      // });
      <% @group.places.each do |place| %>
      　marker = new google.maps.Marker({
        　position:  {lat: <%= place.latitude %>, lng: <%= place.longitude %>},
        　map: map
    　　});
      <%end%>
    }

    function codeAddress(){
      let inputAddress = document.getElementById('address').value;

      geocoder.geocode( { 'address': inputAddress}, function(results, status) {
        if (status == 'OK') {
          map.setCenter(results[0].geometry.location);
          const marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
          });
          const infoWindow = new google.maps.InfoWindow({
            content: "hello"
          });
          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });
          // 下の1行を追加
          display.textContent = "検索結果：" + results[ 0 ].geometry.location
        } else {
          alert('該当する結果がありませんでした：' + status);
        }
      });
    }
  // ユーザーの端末がGeoLocation APIに対応しているかの判定

  // 対応している場合
  if( navigator.geolocation )
  {
  	// 現在地を取得
  	navigator.geolocation.getCurrentPosition(

  		// [第1引数] 取得に成功した場合の関数
  		function( position )
  		{
  			// 取得したデータの整理
  			var data = position.coords ;

  			// データの整理
  			var lat = data.latitude ;
  			var lng = data.longitude ;
  			var alt = data.altitude ;
  		 	var accLatlng = data.accuracy ;
  		 	var accAlt = data.altitudeAccuracy ;
  			var heading = data.heading ;			//0=北,90=東,180=南,270=西
  			var speed = data.speed ;
        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;
  		}
    )
  }
  </script>
　<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer></script>
</div>

  <div class="form-group row mt-5">
   <div class="col-4 mx-auto">
     <%= form_with(model: @place, local: true) do |f| %>
     　<%= f.hidden_field :latitude, id: "latitude" %>
     　<%= f.hidden_field :longitude, id: "longitude" %>
       <%= f.submit '現在地を登録する', class: 'btn btn-primary btn-block' %>
     <%end%>
   </div>
  </div>


<div class="row mt-5">
  <div class="col-8 mx-auto">
    <table class="table table-bordered border-dark">
      <thead>
        <tr>
          <th class="col-4">所属メンバー</th>
          <th class="col-5">メンバー紹介</th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @group.end_users.each do |group_user| %>
          <tr>
            <td>
              <%= attachment_image_tag group_user, :image, size: "30x20", format: 'jpeg' %>  <%= group_user.name%>
            </td>
            <td>
              <%= group_user.introduction %>
            </td>
            <td>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
</div>